  #container {

            background-image: url(/Public/Images/clear-sky2.jpg);
            background-position: center;
            background-size: cover;

        }

        select:focus {
            outline: 1px solid rgb(84, 180, 245);
            box-shadow: 2px 2px 2px rgb(84, 180, 245), -2px -2px 2px rgb(84, 180, 245);
        }
 ::-webkit-scrollbar{
    display: none;
 }
